[Unit]
Description=Bluetooth Manager Daemon over IARM IPC
After=lighttpd.service iarmbusd.service bluetooth.service
Requires=iarmbusd.service bluetooth.service

[Service]
Type=forking
TimeoutStartSec=10s
ExecStart=/bin/sh -c "/usr/bin/btMgrBus &"
Restart=always

[Install]
WantedBy=multi-user.target
